<nav class="navbar">
  <div class="navbar-left">
    <span class="org-name">Hospitality Hub</span>
  </div>

  <ul class="navbar-links">
    <li [routerLinkActive]="['active']" routerLink="/home" >Home</li>
    <li [routerLinkActive]="['active']" routerLink="/about">About</li>
    <li [routerLinkActive]="['active']" routerLink="/services">Services</li>
    <li [routerLinkActive]="['active']" routerLink="/contact">Contact</li>
    <li [routerLinkActive]="['active']" routerLink="/login">Login</li>
    <li [routerLinkActive]="['active']" routerLink="/register">Register</li>
  </ul>
</nav>
