<form (ngSubmit)="onRegister()" class="register-form">
  <div class="card">
    <h2>Register</h2>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" [(ngModel)]="registerForm.firstName" name="firstName" required>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" [(ngModel)]="registerForm.lastName" name="lastName" required>

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="registerForm.email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="registerForm.password" name="password" required>

    <button type="submit">Register</button>
  </div>
</form>
